@import "../../variables";

#root {
  #manageData {
    tr.ant-table-expanded-row:hover > td,
    tr.ant-table-expanded-row > td {
      padding: 48px 16px 16px;
    }
    .data-detail {
      height: 450px;
      overflow-y: scroll;
      width: 80%;
      margin: 8px 10%;
      padding: 0 12px;
      .pending-data-wrapper {
        h3 {
          padding: 12px 16px;
          background: #eaeaed;
          font-size: 14px;
          font-weight: $font-weight-bold;
          margin-bottom: 0;
        }
        border: solid #e9e9e9 1px;
        margin-bottom: 20px;
        .ant-table {
          thead {
            tr {
              th {
                background-color: #f2f2f3;
                font-weight: 500;
              }
            }
          }
          .ant-table-cell .ant-btn {
            margin-left: 10px;
          }
          tr.row-edited td {
            background-color: #fefebe;
          }
          tr.ant-table-row.row-edited:hover > td,
          tr.row-edited > td.ant-table-cell-row-hover {
            background: #fefebe;
          }
          .expand-icon {
            color: #959495;
          }
        }
      }
      & + div {
        padding: 8px 10% 0;
        text-align: right;
      }
      &.full-screen {
        width: 100%;
        margin: 8px 0;
      }
    }
    .history-table-wrapper {
      padding: 12px;
      .ant-table {
        margin: 0;
        border: solid #e9e9e9 1px;
        tr {
          td {
            color: #959495;
          }
        }
      }
    }
    .button-save {
      position: absolute;
      top: 0px;
      right: 22px;
    }
    .registration-data-wrapper {
      .button-save {
        position: relative;
        top: 0;
        right: 0;
        padding: 0;
      }
    }
    .ant-table {
      tr.row-edited td {
        background-color: #fefebe;
      }
      tr.ant-table-row.row-edited:hover > td,
      tr.row-edited > td.ant-table-cell-row-hover {
        background: #fefebe;
      }
      tr.row-normal {
        cursor: pointer;
      }
    }
    .manage-data-map {
      position: relative;
      z-index: 0;
      height: 600px;

      .map-filter {
        position: absolute;
        right: 0;
        top: 24px;
        left: 24px;
        z-index: 1;
        width: fit-content;
        padding: 16px;
        background: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }

      .marker-legend {
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #f9f9f9d9;
        padding: 14px 12px 10px;
        font-size: 13px;
        text-align: center;
        padding-bottom: 8px;

        .legend-item {
          color: #5a5f63;
          cursor: pointer;

          .circle-legend {
            width: 8px;
            height: 8px;
            margin-top: 6px;
            border-radius: 4px;
          }
        }
      }
    }
  }
  .ant-btn.ant-btn-link:hover {
    border-color: transparent;
  }
}
