@import "../../variables";

#root {
  #manage-draft {
    tr.ant-table-expanded-row:hover > td,
    tr.ant-table-expanded-row > td {
      padding: 36px 16px 16px;

      .data-detail {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        overflow: auto;
        padding: 16px;
        gap: 28px;

        .data-detail-actions {
          display: flex;
          justify-content: flex-end;
          gap: 16px;
          margin-top: 16px;
        }
      }
    }
  }
}
