@import "../../variables";

.leaflet-bottom.leaflet-right {
  width: 100%;

  .leaflet-control-attribution.leaflet-control {
    width: 100%;
    text-align: right;
    padding-bottom: 5px;
    padding-right: 22px;
  }
}

.leaflet-container {
  height: 510px;
  z-index: 0;
}

.marker-tooltip-container {
  padding: 4px 7px;
  min-width: 150px;
  max-width: 250px;
  white-space: break-spaces;

  h3 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 12px;
  }

  .marker-tooltip-name {
    font-size: 12px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: initial;
  }

  .marker-tooltip-value {
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
  }
}

.map-container {
  position: relative;
  z-index: 0;
  height: 600px;

  .map-buttons {
    position: absolute;
    right: 24px;
    top: 24px;
    z-index: 1;
  }
}

.custom-marker {
  span {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: block;
    border: 2px solid #fff;
    color: rgba(0, 0, 0, 0.85);
    padding: 4px 2px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
  &.multiple-option {
    span {
      width: 2rem;
      height: 2rem;
      border-radius: 50%; /* Makes it a circle */
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background-color: #fff;
      }
    }
  }
}

.shape-legend {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  z-index: 2;
  background-color: #fffe;
  padding: 8px 12px;
  text-align: center;
  font-size: 13px;

  .legend-wrap {
    width: 100%;
    margin-top: 5px;
    font-weight: $font-weight-medium;

    .legend-item {
      cursor: pointer;
      margin: 0 1px;
      border: solid transparent 2px;

      &.legend-selected {
        border: solid #036799 2px;
        border-right: solid 2px #036799;
        color: #fff;
      }
    }
  }
}
