@import "../../variables";

.leaflet-bottom.leaflet-right {
  width: 100%;

  .leaflet-control-attribution.leaflet-control {
    width: 100%;
    text-align: right;
    padding-bottom: 5px;
    padding-right: 22px;
  }
}

.leaflet-container {
  height: 510px;
  z-index: 0;
}

.marker-tooltip-container {
  padding: 4px 7px;
  min-width: 150px;
  max-width: 250px;
  white-space: break-spaces;

  h3 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 12px;
  }

  .marker-tooltip-name {
    font-size: 12px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: initial;
  }

  .marker-tooltip-value {
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
  }
}

.map-container {
  position: relative;
  z-index: 0;
  height: 600px;

  .map-buttons {
    position: absolute;
    right: 24px;
    top: 24px;
    z-index: 1;
  }
}

.custom-marker {
  span {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: block;
  }
}
